<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <p>
                <a href='/'>
                    MetaVerse
                </a>
            </p>
        </div>

    


    <ul>
        <%if(locals.user){ %>
            <li>
                <a href="/"><%= user.name %> </a>
            </li>
            <li>
                <a href="/users/signout">SignOut</a>    
            </li>
        <% } else {%>
            <li>
                <a href="/users/signin">SignIn</a>
            </li>
            <li>
                <a href="/users/signup">SignUp</a>
            </li>

            <% } %> 
    </ul>
</nav>
</header>
