<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
    <h1>Please Sign Up</h1>
    <form action="/users/create" method="post"> 
    <input type="text" name="name" required placeholder="Enter Your Name">
    <input type="email" name="email"  required placeholder="Enter Your Email">
    <input type="password" name="password" required placeholder="Enter Your Password">
    <input type="password" name="Confirm_password" required placeholder="Confirm Your Password">
    <input type="submit" value="SignUp">
</form>
</body>
</html>